:root {
    --black: #000000;
    --grey: #403F45;
    --light-grey: #aaa;
    --light-grey-opac: rgba(80,80,80,0.6);
    --white: #FEFEFE;
    --med-yellow: #E6CE1D;
    --light-yellow: #F4DD08;
    --bright-yellow: #FDEC00;
}

/* Base */
html {
    background-color: var(--black);
    background-image: linear-gradient(to bottom right, var(--black), var(--grey));
    color: var(--white);
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    min-height: 100vh;
    min-width: 300px;
    overflow-x: hidden;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    scroll-behavior: smooth;
}
a {
    color: currentColor;
    cursor: pointer;
    text-decoration: none;
}

/* Shared attributes */

.wallpaper,
.picture-shadow,
.picture-image {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;}

.job,
.button {
    font-family: "Montserrat", "Quicksand", sans-serif;
    letter-spacing: 0.4em;
    text-transform: uppercase;}

.button,
.social a {
    transform-origin: center;
    transition-duration: 100ms;

}
.social {
    display: flex;
    margin-bottom: 1.5rem;
}

/* Individual Attributes */

.name {
    font-size: 2.25rem;
    line-height: 1.125;
    margin-bottom: 0.5rem;
}

.wallpaper {
    background-image: url("../images/wallpaper.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.2;
    position: fixed;
}

.picture {

    padding-top: 70%;
    position: relative;
    width: 70%;
}
.picture-folio{
    margin: auto;
    position: relative;
}
.picture-shadow {
    border-radius: 250298px;
    background-image: radial-gradient(#E6CE1D 0%, rgba(0, 0, 0, 0) 70%);
    position: absolute;
    top: 13%;
}
.picture-image {
    border-radius: 250298px;
    position: absolute;
}

.hr {
    background-color: var(--light-yellow);
    border: none;
    content: "";
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    transform-origin: center left;
    width: 12rem;

}


* {
    box-sizing: border-box;
}

/* Style the body */
body {
    margin: 0;
}

/* Header/logo Title */
.header,.portfolio,.contact {
    text-align: Left;
    color: white;
}

nav{
    position: fixed;
    top:0;
    left:0;
    width:20%;
    height: 100%;
    padding: 20px;
    background: var(--light-grey-opac);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    flex: 80%;
    padding: 20px;
}

/* Column container */
.main {
    padding: 40px;
    margin-left: 20%;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */




/* Fake image, just for this example */
.folioimg {
    display: block;
    opacity: 1;
    width: 100%;
    padding: 20px;
}

/* Footer */
.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 20px;
    text-align: center;
    background: var(--grey);
}

.link-text {
    padding-left: 0.2rem;
}
.link {
    color: #FDEE30;
}
.link:hover {
    text-decoration: underline;
}

.button {
    background-color: var(--grey);
    border-color: var(--light-yellow);
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    box-shadow: 0 1rem 2rem rgba(254, 254, 254, 0.2);
    color: var(--light-yellow);
    display: inline-block;
    font-size: 1rem;
    line-height: 1;
    padding: 1.25em 2em;
    text-shadow: none;
    transition-property: box-shadow, transform;
    user-select: none;
    vertical-align: top;
    margin: auto;
    white-space: nowrap;
    will-change: box-shadow, transform;
}
.button:hover {
    box-shadow: 0 1.5rem 3rem rgba(254, 254, 254, 0.2);
    transform: scale(1.02) translateY(-4px);
    background-color: var(--light-yellow);
    color: #000000;
}
.button:active {
    box-shadow: 0 0.5rem 1rem rgba(254, 254, 254, 0.3);
    transform: scale(0.98) translateY(-2px);
    background-color: #FDEE30;
    color: #000000;
}

.social a {
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    height: 2rem;
    justify-content: center;
    opacity: 0.5;
    transition-property: opacity, transform;
    width: 2rem;
    will-change: opacity, transform;
    margin-right: 0.5rem;
    text-align: center;
}
.social a:hover {
    opacity: 1;
    transform: scale(1.25);
    color: #FDEE30;
}
.social a:active {
    opacity: 1;
    transform: scale(1.1);
}
.contact {
    display: inline-block;
    margin-top: 1.5rem;
    vertical-align: top;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    nav,.main {
        position: relative;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem 3rem;
    }
    }
}

